<ion-tabs>

  <ion-tab-bar class="cont-tabs"slot="bottom">
    <ion-tab-button tab="inicio">
      <div class="color-icono">
        <img src="assets/icons/explore.svg">
      </div>
    </ion-tab-button>

    <ion-tab-button class="tab-aux" tab="carrito-compras">
      <div (click)="irCarrito()" class="tab-custom">
        <ion-icon class="icon-carrito" name="cart-outline"></ion-icon>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="filtros">
      <div class="color-icono">
        <img src="assets/icons/list.svg">
      </div>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>