.tab-custom {
    width: 60px;
    height: 60px;
    background-color: var(--naranja);
    margin-top: -20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-tabs {
    contain: none !important;
}

.tab-aux {
    position: absolute;
    height: 80px;
}

.icon-carrito {
    font-size: 30px;
    color: white;
}

.color-icono{
    filter: invert(53%) sepia(49%) saturate(858%) hue-rotate(345deg) brightness(98%) contrast(95%);
}
