<ion-content>

  <div class="cont-usuario">
    <div class="cont-datos">
      <img class="img-user" src="{{datosPerfil.picture.thumbnail}}" alt="">
      <label class="nombre">Bienvenido, {{datosPerfil.fullName}}</label>
    </div>
    <div class="cont-icons">
      <div *ngIf="carrito.products.length > 0" class="numero-carrito">{{carrito.products.length}}</div>
      <ion-icon class="icon-user" name="cart-outline"></ion-icon>
      <ion-icon class="icon-user" name="search-outline"></ion-icon>
    </div>
  </div>

  <div class="descubre">
    Ofertas del día
  </div>

  <div class="cont-slide">
    <div class="cont-slide-aux">
      <div (click)="verDetalleProducto(oferta)" *ngFor="let oferta of ofertas" class="producto-carru">
        <div class="cont-nombre">
          <label class="txt-negro">{{oferta.product_name}}</label>
        </div>
        <div class="cont-img">
          <img class="img-produ" src="{{oferta.product_image}}" alt="">
        </div>

        <div class="calificacion">
          <label class="precio-antes">{{oferta.precionSinDescuento | currency }}</label>
          <label class="precio">{{oferta.product_price | currency}}</label>
          <div class="estrellas">
            <ion-icon class="icon-star" name="star" *ngIf="oferta.score > 0"></ion-icon>
            <ion-icon class="icon-star" name="star" *ngIf="oferta.score > 1"></ion-icon>
            <ion-icon class="icon-star" name="star" *ngIf="oferta.score > 2"></ion-icon>
            <ion-icon class="icon-star" name="star" *ngIf="oferta.score > 3"></ion-icon>
            <ion-icon class="icon-star" name="star" *ngIf="oferta.score > 4"></ion-icon>
            <ion-icon class="icon-star" name="star-outline" *ngIf="oferta.score < 1"></ion-icon>
            <ion-icon class="icon-star" name="star-outline" *ngIf="oferta.score < 2"></ion-icon>
            <ion-icon class="icon-star" name="star-outline" *ngIf="oferta.score < 3"></ion-icon>
            <ion-icon class="icon-star" name="star-outline" *ngIf="oferta.score < 4"></ion-icon>
            <ion-icon class="icon-star" name="star-outline" *ngIf="oferta.score < 5"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="descubre">
    Descubre
  </div>

  <div class="cont-productos">

    <div class="producto" *ngFor="let producto of productos let i = index">

      <ng-container *ngIf="!producto.seccion">

        <div *ngIf="producto.is_favorite == true" class="favorito">
          <ion-icon class="icon-corazon" name="heart"></ion-icon>
        </div>

        <div *ngIf="producto.is_favorite == false" class="no-favorito">
          <ion-icon class="icon-corazon" name="heart"></ion-icon>
        </div>

        <div class="cont-nombre">
          <label class="txt-gris">{{producto.brand}}</label>
          <label class="txt-negro">{{producto.product_name}}</label>
        </div>

        <div (click)="verDetalleProducto(producto)" class="cont-img">
          <img class="img-produ" src="{{producto.product_image}}" alt="">
        </div>

        <div class="final-produ">
          <div class="cont-precio">
            <label class="precio">{{producto.product_price | currency}}</label>
            <div class="estrellas">
              <ion-icon class="icon-star" name="star" *ngIf="producto.score > 0"></ion-icon>
              <ion-icon class="icon-star" name="star" *ngIf="producto.score > 1"></ion-icon>
              <ion-icon class="icon-star" name="star" *ngIf="producto.score > 2"></ion-icon>
              <ion-icon class="icon-star" name="star" *ngIf="producto.score > 3"></ion-icon>
              <ion-icon class="icon-star" name="star" *ngIf="producto.score > 4"></ion-icon>
              <ion-icon class="icon-star" name="star-outline" *ngIf="producto.score < 1"></ion-icon>
              <ion-icon class="icon-star" name="star-outline" *ngIf="producto.score < 2"></ion-icon>
              <ion-icon class="icon-star" name="star-outline" *ngIf="producto.score < 3"></ion-icon>
              <ion-icon class="icon-star" name="star-outline" *ngIf="producto.score < 4"></ion-icon>
              <ion-icon class="icon-star" name="star-outline" *ngIf="producto.score < 5"></ion-icon>
            </div>
          </div>

          <div (click)="mostrarSeccion(i)" class="cont-mas">
            <ion-icon name="add" class="icon-mas"></ion-icon>
          </div>

        </div>

      </ng-container>

      <div class="cont-agregar" *ngIf="producto.seccion">

        <div class="cerrar">
          <ion-icon class="icon-cerrar" (click)="ocultarSeccion(i)" name="chevron-down"></ion-icon>
        </div>

        <div (click)="favoritos(producto, i)" class="agregar-favoritos">
          Agregar a favoritos
        </div>

        <div (click)="agregarAlCarrito(producto,i)" class="agregar-carrito">
          <img src="assets/icons/add_shopping_cart.svg" class="icon-carrito" />
          Agregar al carrito
        </div>

      </div>

    </div>

  </div>

</ion-content>